$white: #ffffff;
$black: #000000;
$primary1: #f0d43a;
$primary2: #3b4a6b;
$textCol: #1f1f1f;
$black2: #270808;
// import fonts
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");
@mixin main-font {
    font-family: "Poppins", sans-serif;
}
@mixin media($width, $option: "min") {
    @if $option == "min" {
        @media screen and (min-width: #{$width}px) {
            @content;
        }
    } @else if $option == "max" {
        @media screen and (max-width: #{$width}px) {
            @content;
        }
    }
}
$font-defalut: 16;
@mixin font-size($font-size) {
    font-size: #{$font-size}px;
    font-size: #{$font-size/$font-defalut}rem;
}

// ---------------------------------------------SCROLL fllow ---------------------------------//

#percentage-value {
    color: #001793;
    @include font-size(14);
    line-height: 36px;
    font-weight: 600;
    text-align: center;
    background-color: #fff;
    width: 38px;
    height: 38px;
    top: 2px;
    left: 21px;
    bottom: 50px;
    transform: translateX(-50%);
    border-radius: 50%;
    position: absolute;
    z-index: 1;
    @include media(1440) {
        @include font-size(22);
        top: 5px;
        left: 35px;
        width: 60px;
        height: 60px;
        line-height: 54px;
    }
}
.circles-wrapper {
    width: 30px;
    height: 30px;
    position: fixed;
    bottom: 30px;
    left: 10px;
    z-index: 9;
    @include media(1440) {
        left: 30px;
        margin-bottom: 0;
        width: 60px;
        height: 60px;
    }
}
.circles-wrapper,
.circle,
.inner-circle,
.mask-full {
    border-radius: 1000px;
}
.circle,
.inner-circle,
.mask-full {
    overflow: hidden;
}
.circle {
    margin: auto;
    width: 42px;
    height: 42px;
    position: absolute;
    z-index: -1;
    @include media(1440) {
        width: 70px;
        height: 70px;
    }
    &.is-active {
        width: 42px;
        height: 42px;
        opacity: 1;
        visibility: visible;
        z-index: -1;
        @include media(1440) {
            width: 70px;
            height: 70px;
        }
    }
}
.inner-circle {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    border: 3px solid #e2b1c6;
    @include media(1440) {
        border: 6px solid #e2b1c6;
    }
}
.mask-full {
    content: "";
    position: absolute;
    width: 38px;
    height: 38px;
    top: 2px;
    left: 2px;
    z-index: 15;
    background: #fff;
    @include media(1440) {
        width: 60px;
        height: 60px;
        background-size: auto 60px;
        top: 5px;
        left: 5px;
    }
}

.mask-left,
.mask-right {
    position: absolute;
    width: 50%;
    height: 100%;
    overflow: hidden;
    z-index: 14;
}
.mask-left .fill,
.mask-right .fill {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: all 0.05s linear;
    background: #001793;
}
.mask-left {
    top: 0;
    left: 0;
    overflow: hidden;
    .fill {
        border-radius: 1000px 0 0 1000px;
        transform-origin: 100% 50%;
    }
}
.mask-right {
    top: 0;
    left: 50%;
    .fill {
        border-radius: 0 1000px 1000px 0;
        transform-origin: 0 50%;
    }
}

@mixin hero_btn($col1, $col2, $pad1, $pad2, $bRadius) {
    display: inline-block;
    padding: $pad1 $pad2;
    background-color: $col1;
    color: $col2;
    border-radius: $bRadius;
    transition: all 0.3s;
    border: 1px solid $col1;
    &:hover {
        color: $col2;
        transform: translateY(-3px);
    }
}

@mixin upperBold {
    text-transform: uppercase;
    font-weight: bold;
}

html {
    overflow-x: hidden;
}

body {
    @include main-font;
    color: #0c0c0c;
    background-color: #ffffff;
    overflow-x: hidden;
}

.layout_padding {
    padding: 45px 0;
}

.layout_margin {
    margin: 90px 0;
}

.layout_padding2 {
    padding: 75px 0;
}

.layout_padding2-top {
    padding-top: 75px;
}

.layout_padding2-bottom {
    padding-bottom: 75px;
}

.layout_padding-top {
    padding-top: 90px;
}

.layout_padding-bottom {
    padding-bottom: 90px;
}

.heading_container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    h2 {
        position: relative;
        font-weight: bold;
        span {
            color: $primary1;
        }
    }
    &.heading_center {
        align-items: center;
        text-align: center;
    }
}

a,
a:hover,
a:focus {
    text-decoration: none;
}

a:hover,
a:focus {
    color: initial;
}

.btn,
.btn:focus {
    outline: none !important;
    box-shadow: none;
}

/*header section*/

// .hero_area {
//   position: relative;
//   min-height: 100vh;
//   display: flex;
//   flex-direction: column;
//   padding-left: 45px;
//   .hero_social {
//     position: absolute;
//     top: 45%;
//     left: 0;
//     display: flex;
//     flex-direction: column;
//     align-items: center;
//     width: 45px;
//     transform: translateY(-50%);
//     a {
//       color: #999;
//       margin: 5px 0;
//     }
//   }
// }
.container-fluid {
    padding-left: 45px;
    padding-right: 45px;
}

.sub_page {
    // .hero_area {
    //   min-height: auto;
    //   border-radius: 0 0 45px 0;
    //   padding-left: 0;
    // }
    .header_section {
        box-shadow: 0 0 3px 0 rgba($color: #000000, $alpha: 0.25);
    }
}
.sticky_header {
    box-shadow: #cacaca 1px 1px 7px;
    padding-top: 10px;
    z-index: 99;
    top: 0 !important;
    left: 0;
    right: 0;
    height: 70px;
    padding: 7px 0;
    position: relative;
    @media screen and (max-width: 991px) {
        height: 60px;
        padding: 0;
    }
    text-align: center;
    visibility: visible !important;
    opacity: 1 !important;
    &.header-scroll {
        position: fixed;
        background: #fff;
    }
}
.header_section {
    padding: 15px 0;
    .container-fluid {
        padding-right: 25px;
        padding-left: 25px;
    }
}

.navbar-brand {
    span {
        font-weight: bold;
        color: $black;
        font-size: 24px;
    }
}

.custom_nav-container {
    padding: 0;
    .navbar-nav {
        margin: auto;
        .nav-item {
            .nav-link {
                padding: 5px 25px;
                color: $black;
                text-align: center;
                text-transform: uppercase;
                border-radius: 5px;
                transition: all 0.3s;
            }
            &:hover,
            &.active {
                .nav-link {
                    color: $black;
                    background-color: $white;
                }
            }
        }
    }
}

.custom_nav-container .navbar-toggler {
    outline: none;
}

.custom_nav-container .navbar-toggler {
    padding: 0;
    width: 37px;
    height: 42px;
    transition: all 0.3s;
    span {
        display: block;
        width: 35px;
        height: 4px;
        background-color: $black;
        margin: 7px 0;
        transition: all 0.3s;
        position: relative;
        border-radius: 5px;
        transition: all 0.3s;
        &::before,
        &::after {
            content: "";
            position: absolute;
            left: 0;
            height: 100%;
            width: 100%;
            background-color: $black;
            top: -10px;
            border-radius: 5px;
            transition: all 0.3s;
        }
        &::after {
            top: 10px;
        }
    }
    &[aria-expanded="true"] {
        transform: rotate(360deg);
        span {
            transform: rotate(45deg);
            &::before,
            &::after {
                transform: rotate(90deg);
                top: 0;
            }
        }
        .s-1 {
            transform: rotate(45deg);
            margin: 0;
            margin-bottom: -4px;
        }
        .s-2 {
            display: none;
        }
        .s-3 {
            transform: rotate(-45deg);
            margin: 0;
            margin-top: -4px;
        }
    }
    &[aria-expanded="false"] {
        .s-1,
        .s-2,
        .s-3 {
            transform: none;
        }
    }
}

.user_option-box {
    display: flex;
    align-items: center;
    a {
        color: $black;
        text-transform: uppercase;
        margin-left: 15px;
        font-size: 17px;
        &:hover {
            color: $primary2;
        }
    }
}

/*end header section*/

/* slider section */

.slider_section {
    flex: 1;
    display: flex;
    align-items: center;
    // padding: 45px 0;
    background-color: $primary1;
    background: $primary2;
    padding-top: calc(800 / 1920 * 100%);
    .row {
        align-items: center;
    }
    #customCarousel1 {
        width: 100%;
        position: absolute;
        top: 76px;
        .container-fluid{
            max-width: 93.5%;
        }
    }
    .detail-box {
        color: $white;
        h2 {
            font-weight: bold;
            margin-bottom: 20px;
        }

        .btn-box {
            display: flex;
            margin: 0 -5px;
            margin-top: 15px;
            a {
                margin: 5px;
                text-align: center;
                width: 185px;
            }
            .btn1 {
                @include hero_btn(darken($color: $primary1, $amount: 10), $white, 12px, 15px, 5px);
            }
        }
    }
    .img-box {
        img {
            width: 100%;
        }
    }
    .carousel-indicators {
        position: absolute;
        margin: 0;
        justify-content: center;
        align-items: center;
        // margin-top: 45px;
        li {
            background-color: $white;
            width: 15px;
            height: 15px;
            border-radius: 100%;
            opacity: 1;
            &.active {
                width: 23px;
                height: 23px;
                background-color: $primary1;
            }
        }
    }
}

.login-sig {
    max-width: 600px;
    margin: 0 auto;
    .modal_close {
        width: 36px;
        height: 36px;
        font-size: 30px;
        background: #33333394;
        color: #121010;
        text-align: center;
        align-items: center;
        justify-content: center;
        display: flex;
        border-radius: 30px;
        float: right;
        cursor: pointer;

        a {
            font-size: 22px;
        }
    }
}

$tablet: 768px;

@mixin breakpoint($point) {
    @if $point == untilTablet {
        // @media (max-width: $tablet - 1) {
        //     @content;
        // }
    } @else if $point == tablet {
        @media (min-width: $tablet) {
            @content;
        }
    }
}

.form {
    width: 100%;
    overflow: hidden;
    text-align: left;
    transition: 0.3s;

    @include breakpoint(tablet) {
        width: 300px;
        padding: 0 20px;
    }

    &__title {
        margin-bottom: 20px;
        font-family: "Montserrat", sans-serif;
        font-size: 1.8rem;
        font-weight: 700;
    }

    &--login {
        opacity: 1;
        transition: opacity 0.5s ease;
    }

    &--register {
        width: 0;
        height: 0;
        opacity: 0;
        transition: opacity 0.5s ease;

        @include breakpoint(tablet) {
            width: 300px;
            height: auto;
            opacity: 1;
        }
    }

    &__helper {
        position: relative;
        margin-bottom: 15px;

        &:last-of-type {
            margin-bottom: 0;
        }
    }

    &__label {
        position: absolute;
        bottom: 10px;
        left: 0;
        color: black;
        font-family: "Lato", sans-serif;
        font-size: 1.4rem;
        transition: 0.3s;
    }

    &__input {
        position: relative;
        width: 100%;
        padding: 5px 0;
        color: black;
        background-color: transparent;
        border-width: 0;
        border-bottom: 1px solid black;
        outline: none;
        font-family: "Lato", sans-serif;
        font-size: 1.4rem;

        &::placeholder {
            opacity: 0;
        }

        &:not(:placeholder-shown) {
            & + .form__label {
                bottom: 25px;
                color: #2e8e79;
                font-size: 1.2rem;
            }
        }

        &:focus {
            border-bottom-color: #2e8e79;

            & + .form__label {
                bottom: 25px;
                color: #2e8e79;
                font-size: 1.2rem;
            }
        }
    }

    &__button {
        display: block;
        width: 100%;
        margin-top: 20px;
        padding: 10px;
        color: white;
        background-color: #2e8e79;
        border: 0;
        cursor: pointer;
        font-family: "Lato", sans-serif;
        font-size: 1.2rem;
        font-weight: 300;
        letter-spacing: 1px;
        text-transform: uppercase;
    }

    &__text {
        margin-top: 10px;
        font-family: "Lato", sans-serif;
        font-size: 1.4rem;
    }

    &__link {
        color: #2e8e79;
        cursor: pointer;
    }
}

// end slider section
// shop section
.shop_section {
    .heading_container {
        margin-bottom: 20px;
    }
    .box {
        position: relative;
        align-items: center;
        width: 100%;
        max-width: 600px;
        padding: 220px 20px 20px;
        overflow: hidden;
        background-color: white;
        border-radius: 5px;
        box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.3);
        top: -36px;
        z-index: -1;

        @include breakpoint(tablet) {
            // min-height: 400px;
            padding: 0;

            &__toggle:checked + &__image {
                left: 300px;
            }
        }

        @include breakpoint(untilTablet) {
            &__toggle:checked {
                ~ .form--register {
                    width: 100%;
                    height: auto;
                    opacity: 1;
                }

                ~ .form--login {
                    width: 0;
                    height: 0;
                    opacity: 0;
                }
            }
        }

        &__image {
            position: absolute;
            top: 0;
            left: 0;
            z-index: 1;
            width: 100%;
            height: 200px;
            object-fit: cover;
            object-position: 0 bottom;
            transition: 0.4s ease-in-out;

            @include breakpoint(tablet) {
                width: 300px;
                height: 100%;
                object-position: 0 0;
            }
        }
    }

    .box {
        background-color: #faf9fa;
        position: relative;
        padding: 10px 15px;
        margin-top: 25px;
        border-radius: 15px;
        overflow: hidden;
        transition: all 0.25s ease;
        &:hover {
            box-shadow: 0 20px 30px #0000000f;
            transform: translateY(-8px);
        }
        a {
            color: $black;
        }
        .img-box {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 15px 30px;
            height: 245px;
            img {
                max-width: 100%;
                max-height: 175px;
            }
        }
        .detail-box {
            display: flex;
            justify-content: space-between;
            h6 {
                span {
                    color: $primary2;
                    font-weight: 600;
                }
            }
        }
        .new {
            padding: 7px 15px;
            position: absolute;
            top: 0;
            left: 0;
            background-color: $primary1;
            color: $white;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 15px;
        }
    }
    .btn-box {
        display: flex;
        justify-content: center;
        margin-top: 45px;
        a {
            @include hero_btn($primary1, $black2, 10px, 50px, 5px);
        }
    }
    .product {
        margin-bottom: 30px;
    }
    .product-inner {
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        background-color: #faf9fa;
        position: relative;
        padding: 10px 15px;
        border-radius: 15px;
        overflow: hidden;
        transition: all 0.25s ease;
    }
    .product {
        img {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 15px 30px;
            height: 245px;
            margin: 0 auto;
        }
        .detail-box {
            display: flex;
            justify-content: space-between;
            h6 {
                span {
                    color: $primary2;
                    font-weight: 600;
                }
            }
        }
    }

    .select-product {
        display: flex;
        list-style: none;
        margin: 0;
        padding: 0;
        line-height: normal;
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
        flex-wrap: nowrap;
    }
    #search-form {
        display: flex;
    }
}

// end shop section
// about section
.about_section {
    background-color: $primary2;
    color: $white;
    .row {
        align-items: center;
    }
    .img-box {
        position: relative;
        display: flex;
        justify-content: center;
        img {
            width: 100%;
            max-width: 375px;
        }
    }
    .detail-box {
        p {
            margin-top: 15px;
        }
        a {
            @include hero_btn($primary1, $black2, 10px, 45px, 5px);
            margin-top: 15px;
        }
    }
}

// end about section
// why section
.why_section {
    background-color: #fff;
    color: #333;
    .row {
        align-items: center;
    }
    .img-box {
        position: relative;
        margin-bottom: 30px;
        img {
            width: 1420px;
            height: 290px;
            left: 100px;
            margin-left: -100px;
        }
    }
    .detail-box {
        text-align: center;
        p {
            text-align: center;
            margin-top: 15px;
            color: #333;
        }
        a {
            @include hero_btn($primary1, $black2, 10px, 45px, 5px);
            margin-top: 15px;
        }
        .heading_container {
            align-items: center;
            margin-bottom: 30px;
        }
    }
}

// end why section
// feature section
.feature_section {
    text-align: center;
    .heading_container {
        align-items: center;
    }
    .box {
        margin-top: 45px;
        padding: 25px;
        border-radius: 10px;
        box-shadow: 5px 5px 5px 0 rgba($color: #000000, $alpha: 0.25), -2px -2px 3px 0 rgba($color: #000000, $alpha: 0.05);
        position: relative;
        overflow: hidden;
        transition: all 0.2s;
        .img-box {
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 15px;
            transition: all 0.2s;
            margin: 15px 0;
            img {
                width: 75px;
                transition: all 0.2s;
            }
        }
        .detail-box {
            margin-top: 15px;
            h5 {
                font-weight: bold;
                position: relative;
            }
            a {
                color: inherit;
                span {
                    margin-right: 5px;
                }
            }
        }
        &:hover {
            background-color: $primary2;
            color: $white;
            img {
                filter: invert(1);
            }
        }
    }
    .btn-box {
        display: flex;
        justify-content: center;
        margin-top: 45px;
        a {
            @include hero_btn($primary1, $black2, 10px, 45px, 5px);
        }
    }
}

// end feature section
// contact section
.contact_section {
    position: relative;
    .row {
        align-items: center;
    }
    form {
        margin-top: 45px;
    }
    input {
        width: 100%;
        border: none;
        height: 50px;
        margin-bottom: 25px;
        padding-left: 15px;
        background-color: transparent;
        outline: none;
        color: $black;
        border: 1px solid #a5a5a5;
        &::placeholder {
            color: #1c1b1b;
        }
        &.message-box {
            height: 120px;
        }
    }
    button {
        @include main-font();
        @include hero_btn($primary1, $black2, 10px, 65px, 3px);
        color: #fff;
        margin-top: 10px;
    }
    .img-box {
        img {
            width: 100%;
        }
    }
}

// end contact section
// client section
.client_section {
    .box {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 45px 0;
        text-align: center;
        background-color: $primary2;
        color: $white;
        border-radius: 15px;
        padding: 25px;
        .img-box {
            width: 125px;
            height: 125px;
            min-width: 125px;
            position: relative;
            border: 2px dashed $primary1;
            border-radius: 100%;
            padding: 5px;
            margin-bottom: 15px;
            img {
                width: 100%;
                border-radius: 100%;
            }
        }
        .client_info {
            .client_name {
                h5 {
                    font-weight: bold;
                    margin-bottom: 0;
                    text-transform: uppercase;
                }
                h6 {
                    color: $primary1;
                    font-weight: normal;
                    font-size: 15px;
                    text-transform: uppercase;
                }
            }
            i {
                font-size: 24px;
            }
        }
        p {
            margin-top: 15px;
        }
    }
    .owl-carousel {
        .owl-nav {
            display: flex;
            justify-content: center;
            margin-top: 45px;
            padding: 0 15px;
            .owl-prev,
            .owl-next {
                width: 45px;
                height: 45px;
                background-color: $primary1;
                color: $white;
                outline: none;
                bottom: 0px;
                font-size: 24px;
                margin: 0 5px;
            }
        }
    }
}

// end client section
// footer section
.footer_section {
    background-color: $primary2;
    color: $white;
    padding-top: 60px;
    h4 {
        font-weight: 600;
        margin-bottom: 20px;
    }
    .footer-col {
        margin-bottom: 30px;
    }
    .footer_contact {
        .contact_link_box {
            display: flex;
            flex-direction: column;
            a {
                margin: 5px 0;
                color: $white;
                i {
                    margin-right: 5px;
                }
                &:hover {
                    color: $primary1;
                }
            }
        }
    }
    .footer_social {
        display: flex;
        margin-top: 20px;
        margin-bottom: 10px;
        a {
            display: flex;
            justify-content: center;
            align-items: center;
            color: $primary2;
            width: 30px;
            height: 30px;
            border-radius: 100%;
            background-color: $white;
            border-radius: 100%;
            margin-right: 5px;
            font-size: 18px;
            &:hover {
                color: $primary1;
            }
        }
    }
    form {
        input {
            border: none;
            padding: 10px;
            background-color: lighten($color: $primary2, $amount: 10);
            width: 100%;
            height: 45px;
            color: $white;
            outline: none;
            &::placeholder {
                color: $white;
            }
        }
        button {
            width: 100%;
            text-align: center;
            @include hero_btn($primary1, $black2, 10px, 55px, 5px);
            margin-top: 15px;
        }
    }
    .map_container {
        width: 100%;
        height: 225px;
        overflow: hidden;
        display: flex;
        align-items: stretch;
        .map {
            height: 100%;
            flex: 1;
            #googleMap {
                height: 100%;
            }
        }
    }
    .footer-info {
        text-align: center;
        p {
            padding: 25px 0;
            margin: 0;
            a {
                color: inherit;
            }
        }
    }
}

// end footer section

/*Trigger Button*/
// .login-trigger {
//     // font-weight: bold;
//     // color: #fff;
//     // background: linear-gradient(to bottom right, #B05574, #F87E7B);
//     // padding: 15px 30px;
//     // border-radius: 30px;
//     // position: relative;
//     // top: 50%;
// }

/*Modal*/
.modal-open {
    padding-right: 0 !important;
}
/*Trigger Button*/
// .login-trigger {
//     // font-weight: bold;
//     // color: #fff;
//     // background: linear-gradient(to bottom right, #b05574, #f87e7b);
//     // padding: 15px 30px;
//     // border-radius: 30px;
//     // position: relative;
// }



//   body {
//       background: #d5b4b4;
//       display: flex;
//       justify-content: center;
//       align-items: center;
//       flex-direction: column;
//       font-family: 'Montserrat', sans-serif;
//       height: 100vh;
//       margin: -20px 0 50px;
//   }

#login {
    /*Modal*/
.close {
    color: #fff;
    transform: scale(1.2);
}
.modal-content {
    background: no-repeat;
    border: none;
}
// .modal{
 
// }
.modal-body {
    position: relative;
    padding: 0;
   .close{
        position: absolute;
        z-index: 111;
        right: 0;
        padding: 10px;
    }
}

    p {
        font-size: 14px;
        font-weight: 100;
        line-height: 20px;
        letter-spacing: 0.5px;
        margin: 20px 0 30px;
    }

    span {
        font-size: 12px;
    }

    a {
        color: #333;
        font-size: 14px;
        text-decoration: none;
        margin: 15px 0;
    }

    button {
        border-radius: 20px;
        border: 1px solid #ff4b2b;
        background-color: #ff4b2b;
        color: #ffffff;
        font-size: 12px;
        font-weight: bold;
        padding: 12px 45px;
        letter-spacing: 1px;
        text-transform: uppercase;
        transition: transform 80ms ease-in;
    }

    button:active {
        transform: scale(0.95);
    }

    button:focus {
        outline: none;
    }

    button.ghost {
        background-color: transparent;
        border-color: #ffffff;
    }

    form {
        background-color: #ffffff;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 0 50px;
        height: 100%;
        text-align: center;
    }

    input {
        background-color: #eee;
        border: none;
        padding: 12px 15px;
        margin: 8px 0;
        width: 100%;
    }

    .container {
        border-radius: 10px;
        box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
        position: relative;
        overflow: hidden;
        max-width: 100%;
        min-height: 480px;
    }

    .form-container {
        position: absolute;
        top: 0;
        height: 100%;
        transition: all 0.6s ease-in-out;
    }

    .sign-in-container {
        left: 0;
        width: 50%;
        z-index: 2;
    }

    .container.right-panel-active .sign-in-container {
        transform: translateX(100%);
    }

    .sign-up-container {
        left: 0;
        width: 50%;
        opacity: 0;
        z-index: 1;
    }

    .container.right-panel-active .sign-up-container {
        transform: translateX(100%);
        opacity: 1;
        z-index: 5;
        animation: show 0.6s;
    }

    @keyframes show {
        0%,
        49.99% {
            opacity: 0;
            z-index: 1;
        }

        50%,
        100% {
            opacity: 1;
            z-index: 5;
        }
    }

    .overlay-container {
        position: absolute;
        top: 0;
        left: 50%;
        width: 50%;
        height: 100%;
        overflow: hidden;
        transition: transform 0.6s ease-in-out;
        z-index: 100;
    }

    .container.right-panel-active .overlay-container {
        transform: translateX(-100%);
    }

    .overlay {
        background: #ff416c;
        background: -webkit-linear-gradient(to right, #ff4b2b, #ff416c);
        background: linear-gradient(to right, #ff4b2b, #ff416c);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 0 0;
        color: #ffffff;
        position: relative;
        left: -100%;
        height: 100%;
        width: 200%;
        transform: translateX(0);
        transition: transform 0.6s ease-in-out;
    }

    .container.right-panel-active .overlay {
        transform: translateX(50%);
    }

    .overlay-panel {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 0 40px;
        text-align: center;
        top: 0;
        height: 100%;
        width: 50%;
        transform: translateX(0);
        transition: transform 0.6s ease-in-out;
    }

    .overlay-left {
        transform: translateX(-20%);
    }

    .container.right-panel-active .overlay-left {
        transform: translateX(0);
    }

    .overlay-right {
        right: 0;
        transform: translateX(0);
    }

    .container.right-panel-active .overlay-right {
        transform: translateX(20%);
    }

    .social-container {
        margin: 20px 0;
    }

    .social-container a {
        border: 1px solid #dddddd;
        border-radius: 50%;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        margin: 0 5px;
        height: 40px;
        width: 40px;
    }
    @include media(576, "min") {
        .modal-dialog {
            max-width: 820px;
            margin: 1.75rem auto;
        }
    }
}
